<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- all appenders in Root will be removed by sonarlint-core. Loggers should not be additive to avoid polluting the logs inside the core. -->
  <logger name="io.netty" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <logger name="org.sonarlint.daemon" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
</configuration>